<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="styles/credentials.css">
</head>
<body>
    <img src="images/64416244.jpg" alt="" class="image">
    <header>
        <%- include("./partials/header.ejs") %> <br>
        <h2>Enter the Credentials to Verify</h2>
    </header>
    <form action="/" method="post">
        <input type="text" placeholder="Train Name/Number" name="trainNumber" required><br><br>
        <input type="text" placeholder="Journey Date" name="journeyDate" required><br><br>
        <input type="number" placeholder="Mobile Number" name="mobileNumber" required><br><br>
        <!-- <input type="text" placeholder="From Station" name="fromStation"><br><br>
        <input type="text" placeholder="To Station" name="toStation"><br><br>
        <input type="text" placeholder="Coach" name="coach"><br><br>
        <input type="number" placeholder="Birth No." name="birthNumber"><br><br>
        <input type="text" placeholder="Birth" name="birth"><br><br> -->
        <input type="submit" class="medical" value="Medical" name="medical">
        <input type="submit" class="complaint" value="Complaint" name="complaint">
    </form>
    <%- include("./partials/footer.ejs") %>
</body>
</html>