form{
    text-align: center;
    padding: 50px;
    /* background-color: #9c9cdd; */
    border-radius: 3px;
}
input{
    border-radius: 2px;
    padding: 8px;
}
h2{
    text-align: center;
    color: #26a1f3;
    display: inline-block;
}
header{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 3em;
    color: white;
    display: inline-block;
}
html{
    /* background-color: #7e4141; */
    background-color: #03b80385;
}
footer{
    text-align: center;
}
.verify:hover{
    cursor: pointer;
}
img.image{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
header h1 img{
    position: relative;
    top: 8px;
}